.info-item {
  display: inline-block;
  vertical-align: top;
  width: 140px;
  max-height: 210px;
  margin: 10px auto;
  background-color: #d4c37b;
  overflow: hidden;
  margin-left: 12px;

  &__text {
    margin-top: 0px;
    padding: 15px;
    color: #000000;
    font-family: "Myriad Pro";
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
  }
}

@media screen and (max-width: 960px) {
  .info-item {
    width: 25%;
    margin-left: 43px;
  }
}

@media screen and (max-width: 810px) {
  .info-item {
    /*width: 33.33%;*/
    width: 30%;
    margin-left: 13px;
  }
}

@media screen and (max-width: 660px) {
  .info-item {
    /*width: 50%;*/
    width: 45.6%;
    margin-left: 13px;
  }
}

@media screen and (max-width: 510px) {
  .info-item {
    width: 100%;
    /*width: 95%;*/
  }
}
