.info-item {
  display: inline-block;
  vertical-align: top;
  width: 140px;
  max-height: 210px;
  margin: 10px 1.18%;
  background-color: #d4c37b;
  overflow: hidden;

  &__text {
    margin-top: 0px;
    padding: 15px;
    color: #000000;
    font-family: "Myriad Pro";
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
  }
}

@media screen and (max-width: 960px) {
  .info-item {
    width: 25%;
    margin: 10px 3.95%;
  }
}

@media screen and (max-width: 810px) {
  .info-item {
    /*width: 33.33%;*/
    width: 28.92%;
    margin: 10px 1.95%;
  }
}

@media screen and (max-width: 660px) {
  .info-item {
    /*width: 50%;*/
    width: 45.5%;
    margin: 10px 2%;
  }
}

@media screen and (max-width: 510px) {
  .info-item {
    width: 100%;
    margin-left: 0px;
    /*width: 95%;*/
  }
}
