.main-nav {
  width: 660px;
  margin-top: 50px;

  &__list {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;

    padding: 0;
  }

  &__list &__item {
    display: inline-block;
    position: relative;
  }

  &__list &__item:last-child {
    margin-right: 0;
  }

  &__item:hover {
    background-color: #e9a9a9;
  }

  &__link {
    display: block;
    padding: 10px 13px;
    text-decoration: none;
    outline: none;
    color: #040404;
    font-family: "Myriad Pro";
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-transform: uppercase;
    transition: .5s linear;
  }

  &__submenu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 10;
    transition: 0.5s ease-in-out;
  }

  ul a {
    color: #695753;
  }

  &__submenu {
    display: none;
    background: #e9a9a9;
    padding: 0px;
  }

  ul li:hover &__submenu {
    display: block;
    width: 165px;
  }

  &__submenu li {
    list-style: none;
  }

  &__submenu li a {
    color: #040404;
    font-family: "Myriad Pro";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-transform: inherit;
  }

  &__submenu li:hover {
    background-color: #cccccc;
  }
}

