.container {
	width: 98%;
	margin: 1%;
	border-left: 1px solid black;
	border-right: 1px solid black;
}

.container__item {
	display: inline-block;
	float: left;
	width: 25%;
	height: 200px;
	padding: 5px;
}

.block {
	width: 100%;
	height: 200px;
	background-color: green;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

@media screen and (min-width: 1020px) {
	.container {
		margin: auto;
		margin-top: 1%;
	}
}

@media screen and (min-width: 991px) {
	.container {
		width: 991px;
	}

	.container__item {
		width: 32.3%;
	}
}

@media screen and (max-width: 991px) {
	.container__item {
		width: 32.3%;
	}
}

@media screen and (max-width: 990px) {
	.container__item {
		width: 48.6%;
	}
}

@media screen and (max-width: 744px) {
	.container__item {
		width: 98%;
	}
}