.container {
	width: 98%;
	margin: 1%;
	border-left: 1px solid black;
	border-right: 1px solid black;
}

.container__item {
	display: inline-block;
	float: left;
	width: 25%;
	height: 200px;
	padding: 5px;
	text-align: center;

}

.block {
	width: 100%;
	height: 200px;
	background-color: green;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

/*медиавыражения*/
@media screen and (min-width: 1020px) {
	.container {
		margin: auto;
		margin-top: 1%;
	}
}

@media screen and (min-width: 991px) {
	.container {
		width: 991px;
		/*margin: auto;
		margin-top: 1px;*/
	}

	.container__item {
		width: 32%;
	}
}

@media screen and (max-width: 991px) {
	.container__item {
		width: 32%;
	}
}

@media screen and (max-width: 767px) {
	.container__item {
		width: 48%;
	}
}

@media screen and (max-width: 516px) {
	/*body{
		overflow-x: auto;
	}*/
	.container__item {
		width: 98%;
	}
}

